notebooks/data/arbres_grenoble_epsg4326.csv filter=lfs diff=lfs merge=lfs -text
notebooks/data/arbres_grenoble_clean.pkl filter=lfs diff=lfs merge=lfs -text
notebooks/best_model.pkl filter=lfs diff=lfs merge=lfs -text
